.insta_title{
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    margin: 60px 0 11px;
}
.insta_subtitle{
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #E2000F;
    display: block;
}
.insta_slider{
    margin: 53px 0 51px;
    position: relative;
    width: calc(100% + 30px);
    left: -15px;
}
.insta_slide{
    margin: 0 15px;
}
.insta_slide img{
    max-width: 100%;
}
.insta_slider ul.slick-dots {
    display: none!important;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrowWithCount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.arrow .prev{
    margin-right: 30px;
}
.next,.prev{
    cursor: pointer;
}
.arrow .prev:hover .circle,.arrow .next:hover .circle{
    fill: #E2000F;
}
.arrow .prev:hover .arr,.arrow .next:hover .arr{
    fill: #232323;
}
.count{
    width: 100%;
    text-align: center;
    margin-top: 41px;
}
.all{
    font-weight: normal;
    font-size: 14px;
    color: #232323;
}
.current{
    font-weight: bold;
    font-size: 16px;
    color: #E2000F;
}
footer{
    margin-top: 20px;
}
.footInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 18px;
    border-top: 1px solid #1d1d1d;
}
.footInfo a,.footInfo p{
    font-size: 12px;
    line-height: 188.99%;
    color: #4B4B4B;
    font-weight: normal;
}
.breadcrumbs{
    margin: 10px 0 19px;
}
.breadcrumbs ul {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0;
}
.breadcrumbs ul li{
    list-style-type: none;
    font-weight: normal;
}
.breadcrumbs ul li:not(:last-child)::after {
    content: '|';
    padding: 0 18px;
    font-size: 14px;
    line-height: 17px;
    color: #0f0f0f;
}
.breadcrumbs ul li a span{
    color: #8B8B8B;
}
.breadcrumbs ul span{
    color: #1d1d1d;
}
h1{
    font-weight: bold;
    font-size: 20px;
    line-height: 155.02%;
    color: #1D1D1D;
    margin-bottom: 20px;
}
.slider_nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider_nav-item{
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #1D1D1D;
    border-bottom:  1px solid transparent;
    padding-bottom: 6px;
}
.slider_nav-item.active{
    border-bottom:  1px solid #E2000F;
}
.variant_otdel-list-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.variant_otdel-item{
    margin: 0 10px 23px;
    width: 150px;
    height: 150px;
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.variant_otdel-item .percent-blind{
    font-weight: bold;
    font-size: 15px;
    line-height: 11px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 10px;
}
.variant_otdel-item .variant_name{
    font-weight: bold;
    font-size: 17px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}
.variant_otdel-item.active::after{
    content: '';
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    top: -8px;
    left: -8px;
    border: 2px solid #E2000F;
    position: absolute;
}
.variant_otdel-list-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.variant_otdel-text{
    margin-left: 30px;
}
.variant_otdel-text .static_text{
    line-height: 176.52%;
}
.variant_otdel-text .dynamic_text{
    line-height: 169.52%;
    color: #393939;
}
.fasad_det-list{
    display: flex;
    justify-content: space-between;
    margin: 12px 0 5px;
}
.fasad_tech-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 28px 0 0px;
}
.fasad_tech-item .fasad_tech-title{
    max-width: 217px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #3B3A39;
}
.fasad_tech-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.fasad_tech-item img{
    height: 95px;
    object-fit: cover;
}
.slider_for-hiddenTech-head{
    text-align: center;
    color: #FFF;
    padding: 7px 0;
    background: #B1B2B3;
    font-size: 15px;
    margin: 20px 0 0;
    border: 1px solid transparent;
}
.activeHid .slider_for-hiddenTech-head{
    cursor: pointer;
    margin: 20px auto 0;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.activeHid .slider_for-hiddenTech-head::after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(45deg);
    margin: 4px 0 0 10px;
    transition: all .3s;
}
.activeHid .slider_for-hiddenTech-head:hover::after{
    border-top: 2px solid #B1B2B3;
    border-left: 2px solid #B1B2B3;
}
.active.activeHid .slider_for-hiddenTech-head::after {
    transform: rotate(-135deg) translateY(6px);
}
.activeHid .slider_for-hiddenTech-head:hover{
    color: #B1B2B3;
    background: #FFF;
    border: 1px solid #B1B2B3;
}
.slider_for-hiddenTech-body{
    padding-top: 20px;
}
.activeHid .slider_for-hiddenTech-body{
    position: absolute;
    opacity: 0;
    background: white;
    z-index: 5;
    width: 100%;
    padding: 15px;
    border: 1px solid black;
}
.activeHid.active .slider_for-hiddenTech-body{
    opacity: 1;
    margin-top: 20px;
}
.slider_for-hiddenTech{
    position: relative;
    transition: all .5s;
    z-index: 5;
}
.slider_for-hiddenTech-head.blackTransparent{
    background: white;
    color: #393939;
}
.activeHid .slider_for-hiddenTech-head.blackTransparent:hover{
    background: #393939;
    color: white;
}
.activeHid .slider_for-hiddenTech-head.blackTransparent{
    border: 1px solid #393939;
}
.activeHid .slider_for-hiddenTech-head.blackTransparent::after{
    border-top: 2px solid #393939;
    border-left: 2px solid #393939;
}
.activeHid .slider_for-hiddenTech-head.blackTransparent:hover::after{
    border-top: 2px solid white;
    border-left: 2px solid white;
}
footer.active{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.gnyt_pic{
    object-fit: contain;
    width: 100%;
    height: 143px;
}
.slider_for-body{
    margin: 30px 0;
}
.gnyt_title{
    text-align: center;
}
.gnyt_pic{
    margin: 15px 0 20px;
}
.detail_korpus{
    display: flex;
    justify-content: space-between;
    height: 388px;
}
.diler_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.diler_select{
    position: relative;
}
.diler_body{
    position: absolute;
    width: 100%;
    height: 150px;
    z-index: -1;
    overflow: auto;
    background: transparent;
}
.diler_body.active{
    z-index: 5;
}
.diler_body-list{
    transform: translateY(-100%);
    background: white;
    transition: all .5s;
    width: 100%;
    position: absolute;
}
.active .diler_body-list{
    transform: none;
}
.diler_body-item{
    background-color: rgba(230, 230, 230, 0.9);
    width: 100%;
    padding: 3px 5px;
}
.diler_body-item:hover{
    background: #E2000F99;
    color: #FFF;
}
.diler_title{
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #1D1D1D;
    padding-bottom: 7px;
    border-bottom: 2px solid #E2000F;
}
.diler_head{
    width: 254px;
    padding-bottom: 7px;
    border-bottom:  1px solid #535353;
    font-size: 14px;
    line-height: 15px;
    color: #535353;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.diler_head::after{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #535353;
    border-right: 1px solid #535353;
    transform: rotate(45deg);
    margin-right: 4px;
    transition: all .5s;
}
.diler_info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.diler_har{
    width: 33%;
    margin: 6px 0;
}
.diler_znach{
    width: 57%;
    margin: 6px 0;
}
.diler_znach.social a{
    font-size: 14px;
    line-height: 27px;
    padding-bottom: 3px;
    border-bottom: 1px solid #E2000F;
    margin-right: 15px;
    font-weight: normal;
}
.diler_znach.name{
    margin: 29px 0 18px;
}
.diler_har{
    color: #535353;
    font-weight: normal;
}
.diler_info-pagediler{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 30px);
}
.row_char{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.diler_content{
    padding: 27px 0 27px 65px;
    margin-top: 51px;
    border: 1px solid #000;
}
h2{
    font-size: 20px;
    color: #1D1D1D;
}
.user_info{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    width: 70%;
}
.user_info label{
    width: calc(50% - 30px);
    display: flex;
    flex-direction: column;
    font-weight: normal;
    margin-bottom: 23px;
}
.user_info input{
    border-radius: 0;
    border-width: 0 0 1px 0;
    border-color: #242424;
    margin-top: 2px;
    padding: 5px 0;
}
.diler_form{
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}
.button_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 50px;
}
.diler_form input[type="submit"]{
    border-radius: 0;
    border: 1px solid #353535;
    background: transparent;
    padding: 14px 42px;
    cursor: pointer;
    margin-bottom: 20px;
}
.diler_form input[type="submit"]:hover{
    color: #FFF;
    background: #353535;
}
.button_block p{
    font-weight: normal;
    color: #716C6C;
}